# Top-level ignores
/.idea
*.log

# Docker export folder (can be very large)
docker-export/

# Jenkins
*.pid
backend/backend.log
frontend/frontend.log

# Build artifacts
backend/target/
frontend/.next/
frontend/node_modules/
